rabbitmq:
  image:
   tlodge/rabbitmq
  ports:
   - "5672"
   - "15672"
  container_name:
   rabbitmq1

neo4j:
  image:
    tlodge/neo4j
  ports:
    - "7474"
  volumes: 
    - ${HOSTMOUNT}/neo4j:/data/neo4j
  privileged: 
   true 
  container_name: 
   neo4j1
  command:
   /var/lib/neo4j/bin/neo4j console

postfix:
  image:
    tlodge/postfix
  ports:
    - "25"
  hostname:
    buttonkit.com  
  volumes:
    - /etc/postfix/
  container_name:
    postfix

mongo:
  image:
    tlodge/mongo
  ports:
    - "27017"
  volumes:
    - ${HOSTMOUNT}/mongo:/data/mongo
  container_name:
    mongo1
  command: 
    mongod --smallfiles --dbpath "/data/mongo" 

redis:
  image: 
    tlodge/redis
  ports:
    - "6679"
  volumes:
    - /data/redis
  container_name:
    redis1

worker:
  image:
    tlodge/worker
  links:
    - rabbitmq
  volumes:
    - /root/roomcast/roomcast.worker/conf
  container_name:
    worker1

buttonkit:
   image:
     tlodge/buttonkit 
   links:
     - neo4j
     - mongo
     - redis
     - rabbitmq
     - postfix
   ports:
     - "8080"
   command:
     npm start 
   volumes:
     - /var/run/docker.sock:/var/run/docker.sock
     - /usr/src/app/js/config
     - ${HOSTMOUNT}/buttonkit/media:/usr/src/app/static/media
     - /data/buttonkit/logs
     - /data/buttonkit/app
   container_name:
     buttonkit1


nginx:
  image:
    tlodge/nginx
  links:
    - neo4j
    - buttonkit
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - /etc/nginx
#   - /etc/letsencrypt/archive:/etc/letsencrypt/archive:ro
#   - /etc/letsencrypt/live:/etc/letsencrypt/live:ro
  container_name:
    nginx1
